
{% extends 'base.html' %}
{% load static  %}
{% block content %}

<section class="category-section">
    <div class="container">
        <div class="section-title">
            <h2>Courses</h2>
        </div>
        <div class="container">
            <div class="category-links">
                <a href="" class="active">Programming</a>
                <a href="">Development</a>
                <a href="">Data Science</a>
                <a href="">Data Structures</a>
            </div>
        </div>
    </div>

    
<section class="blogs-area  mb-5 ">
    <div class="container">
        <div class="row">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6 mt-5 mb-5">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                    <a href="course/{{course.slug}}"><img src="static/{{course.image}}" alt="" ></a>
                    </div>
                    <div class="blog-cap d-flex">
                        <span class="color1 mt-3 mr-1">{{course.course_name}} </span><br>
                        <a href="/buy" class="btn">499/-</a>
                    </div>
                </div>
            </div>
            {% endfor %}			 
        </div>
    </div>
</section>


</section>





{% endblock %}