{% extends 'base.html' %}

{% block content %}




<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-2">
                        <h2>Login</h2>
                    </div>

                    {% if message %}

                        <div lass="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                    {% endif %}

                    <form class="contact-from mt-3" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <input type="text" name="email" placeholder="Your Email">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="password" placeholder="Your Secret Password">
                            </div>
                            <div class="col-md-6">
                            <button type="submit" class="site-btn">Login</button>
                            </div>
                        
                    </form>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}